@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    background-color: black;
    margin: 100px auto;
    max-width: 600px;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 20px 0px black;
}

legend {
    text-align: center;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
}

label {
    padding: 0 8px;
}

input {
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    border-style: none;
}

textarea {
    margin-top: 15px;
    height: 250px;
    width: 520px;
}

button {
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    border: 3px solid white;
    margin: 15px 0;
}

button:hover {
    background-color: darkgray;
    font-weight: bolder;
    color: black;
    border: 3px solid darkred;
}